  :root,
:host {
  --pico-color-cyan-950: #041413;
  --pico-color-cyan-900: #051f1f;
  --pico-color-cyan-850: #052b2b;
  --pico-color-cyan-800: #043737;
  --pico-color-cyan-750: #014343;
  --pico-color-cyan-700: #015050;
  --pico-color-cyan-650: #025d5d;
  --pico-color-cyan-600: #046a6a;
  --pico-color-cyan-550: #047878;
  --pico-color-cyan-500: #058686;
  --pico-color-cyan-450: #059494;
  --pico-color-cyan-400: #05a2a2;
  --pico-color-cyan-350: #0ab1b1;
  --pico-color-cyan-300: #0ac2c2;
  --pico-color-cyan-250: #0ccece;
  --pico-color-cyan-200: #25dddd;
  --pico-color-cyan-150: #3deceb;
  --pico-color-cyan-100: #58faf9;
  --pico-color-cyan-75: #9ae6e6;
  --pico-color-cyan-50: #c3fcfa;
  --pico-color-cyan: #047878;
}