
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Rokkitt', serif;
  font-size: 1.2em;
  line-height: 1.5;
  background-image: linear-gradient(to bottom, rgb(1, 7, 1), rgb(208, 211, 185));
  color: white;

}
h1, h2 {
  font-weight: 700;
  color: rgb(104, 107, 110);
  font-style: normal;
}

h3 {
  font-weight: 400; 
  color: black;
  font-style: italic;
}


a {
  color: rgb(255, 166, 65);
}
a:visited {
  color: rgb(221, 45, 1);
}
a:hover, a:active {
  color: #000;
  text-decoration: none;
}


header {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
header h1 {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 -2px 8px rgb(47, 42, 42);
  color: rgb(255, 166, 65);

}
.base-bg {
  background-color: rgb(255, 236, 185);
   background-image: linear-gradient(to bottom, rgb(15, 46, 30), rgb(63, 56, 54));
  color: rgba(224, 224, 224, 0.955);
  padding: 1em;
}
.col-2 {
  display: grid;
  grid-template-columns: 1fr;
}


img {
  max-width: 100%;
  height: auto;
}

.image-grid {
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;                 
}

.image-grid img {
  width: 100%;
  height: 300px;
  object-fit: cover;    
          
}


.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}
figure { margin: 0; }



footer {
  color: rgb(255, 166, 65);
  padding: 1em;


}
footer.container.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  background-color: rgb(92, 92, 92);     
  color: white;                          
  padding: 20px;
}


.footer .songs h5 {
  font-style: italic;
  margin-bottom: 0.2rem;
  color: rgb(255, 166, 65);
}


footer audio {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 250px;
}



footer .map iframe {
  margin-top: 1rem;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  height: 200px;
}


footer nav {
  margin: 0 10px;
}

footer ul {
  list-style: none;
}

a, footer a {
  color: black;
}

footer a {
  line-height: 1.5;
}

footer a:visited {
  color: black;
}

footer a:active,
footer a:hover {
  text-decoration: none;
}

blockquote {
  background-color: rgba(0,0,0, 0.5);
  padding: 1em;
}

.copy { text-align: center; }


@media screen and (min-width:48em) {
  .col-2 { grid-template-columns: 1fr 1fr; gap: 2em; }
  .col-3 { grid-template-columns: 1fr 1fr 1fr; gap: 1em; row-gap: 1em; }
  header h1 { font-size: 4em; }
}
@media screen and (min-width:60em) {
  .col-3 { gap: 2em; row-gap: 2em; }
  .col-2-1 { grid-template-columns: 2fr 1fr; gap: 2em; }
}
@media screen and (min-width:80em) {
  body { font-size: 1.4rem; }
  .container { max-width: 80em; margin: 0 auto; }
  header h1 { font-size: 6em; }
}
@media screen and (min-width:100em) {
  .container { max-width: 90em; }
}


@media (max-width: 600px) {
  .image-grid {
    grid-template-columns: repeat(2, minimax(0, 1fr));
  }
}
@media (max-width: 420px) {
  .image-grid {
    grid-template-columns: 150px; 
    justify-content: center;      
  }
}

@media (max-width: 900px) {


  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


.video-thumb {
  position: relative;
  display: inline-block;
}
.video-thumb img {
  display: block;
  max-width: 100%;
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  padding: 0.5rem 1rem;
}

p {
    line-height: 8.7;
}

p {
    margin-bottom: 20px;
}

h2 {
    margin: 15px 0;
}

div {
    padding: 20px;
}